.container {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.images {
  display: grid;
  grid-gap: 5px;
  grid-auto-flow: column;
  background: black;
}
